# Visual Studio
.vs/

# .NET
bin/
obj/

# Angular / Node
node_modules/
dist/

# Logs & temp
*.log
``
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/.tsbuildinfo
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_cdk_bidi.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_cdk_bidi.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_cdk_scrolling.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_cdk_scrolling.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_cdk_text-field.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_cdk_text-field.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_common.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_common.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_common_http.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_common_http.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_core.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_core.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_forms.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_forms.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_button.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_button.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_form-field.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_form-field.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_input.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_input.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_select.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_select.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_platform-browser.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_platform-browser.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/_metadata.json
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-2OEB7UNO.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-2OEB7UNO.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-2QQGI22M.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-2QQGI22M.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-3G7BCADX.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-3G7BCADX.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-4MEWY2UT.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-4MEWY2UT.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-4YCCEXQQ.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-4YCCEXQQ.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-5JFPOJIK.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-5JFPOJIK.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-6BBBGVL2.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-6BBBGVL2.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-6FGROYZS.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-6FGROYZS.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-6IV6DTUS.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-6IV6DTUS.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-6N5ICVY7.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-6N5ICVY7.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-AOKQLNKI.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-AOKQLNKI.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-BCZZVCUW.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-BCZZVCUW.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-BTWJYXWY.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-BTWJYXWY.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-C4VFX5VM.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-C4VFX5VM.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-CTERFN5K.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-CTERFN5K.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-DEKKJ3QN.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-DEKKJ3QN.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-DORIINXR.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-DORIINXR.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-DZ46PE4O.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-DZ46PE4O.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-ECW34ENT.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-ECW34ENT.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-FZO2Q7OL.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-FZO2Q7OL.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-GUGIMSVJ.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-GUGIMSVJ.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-HQZ4FUU3.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-HQZ4FUU3.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-J46EEYGT.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-J46EEYGT.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-KTF3UMF2.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-KTF3UMF2.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-LEUWONIU.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-LEUWONIU.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-LUHPG4DC.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-LUHPG4DC.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-NYMYE4TY.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-NYMYE4TY.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-T2CVAKBA.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-T2CVAKBA.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-U7EDC2PH.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-U7EDC2PH.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-UAMQWUPC.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-UAMQWUPC.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-VKBBTMAJ.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-VKBBTMAJ.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-VPZXNKXL.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-VPZXNKXL.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-VSGNRXZK.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-VSGNRXZK.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-Y7TGAK7T.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-Y7TGAK7T.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-ZLAM4SL2.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-ZLAM4SL2.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/package.json
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/rxjs.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/rxjs.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/rxjs_operators.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/rxjs_operators.js.map
Hplc.Controller.Api/.vs/Hplc.Controller.Api/CopilotIndices/17.14.1231.31060/CodeChunks.db
Hplc.Controller.Api/.vs/Hplc.Controller.Api/CopilotIndices/17.14.1231.31060/CodeChunks.db-shm
Hplc.Controller.Api/.vs/Hplc.Controller.Api/CopilotIndices/17.14.1231.31060/CodeChunks.db-wal
Hplc.Controller.Api/.vs/Hplc.Controller.Api/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
Hplc.Controller.Api/.vs/Hplc.Controller.Api/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-shm
Hplc.Controller.Api/.vs/Hplc.Controller.Api/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-wal
Hplc.Controller.Api/.vs/Hplc.Controller.Api/DesignTimeBuild/.dtbcache.v2
Hplc.Controller.Api/.vs/Hplc.Controller.Api/FileContentIndex/98cf6544-7462-496b-81d8-9aac49178c12.vsidx
Hplc.Controller.Api/.vs/Hplc.Controller.Api/FileContentIndex/b58bc490-317c-4e71-a034-31b1716602e9.vsidx
Hplc.Controller.Api/.vs/Hplc.Controller.Api/FileContentIndex/b7b58895-b5ab-4ea3-a29c-fcdf63a14a20.vsidx
Hplc.Controller.Api/.vs/Hplc.Controller.Api/FileContentIndex/ef27e210-a87f-458f-95ce-e7a1b5c6b140.vsidx
Hplc.Controller.Api/.vs/Hplc.Controller.Api/FileContentIndex/f981575b-e87c-4b12-9299-7cb17b60ecba.vsidx
Hplc.Controller.Api/.vs/Hplc.Controller.Api/v17/.suo
Hplc.Controller.Api/.vs/Hplc.Controller.Api/v17/DocumentLayout.backup.json
Hplc.Controller.Api/.vs/Hplc.Controller.Api/v17/DocumentLayout.json
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.exe
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.pdb
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/ApiEndpoints.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/apphost.exe
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/EndpointInfo/Hplc.Controller.Api.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.AssemblyInfo.cs
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.AssemblyInfoInputs.cache
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.csproj.CoreCompileInputs.cache
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.csproj.FileListAbsolute.txt
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.pdb
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/ref/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/refint/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/rpswa.dswa.cache.json
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/.tsbuildinfo
*.db
Hplc.Controller.Api/.vs/Hplc.Controller.Api/v17/DocumentLayout.backup.json
Hplc.Controller.Api/.vs/Hplc.Controller.Api/v17/DocumentLayout.json
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Data/Batches/Batch_Assay_Run.json
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Data/Batches/Batch_Impurity_Run.json
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.exe
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.pdb
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/ApiEndpoints.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/apphost.exe
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/EndpointInfo/Hplc.Controller.Api.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.AssemblyInfo.cs
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.AssemblyInfoInputs.cache
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.csproj.CoreCompileInputs.cache
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.pdb
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/ref/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/refint/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/rpswa.dswa.cache.json
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/.tsbuildinfo
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/com.chrome.devtools.json
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_cdk_bidi.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_cdk_bidi.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_cdk_scrolling.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_cdk_scrolling.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_cdk_text-field.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_cdk_text-field.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_common.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_common.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_common_http.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_common_http.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_core.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_core.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_forms.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_forms.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_button.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_button.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_form-field.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_form-field.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_input.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_input.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_select.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_material_select.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_platform-browser.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/@angular_platform-browser.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/_metadata.json
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-6DUA45NL.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-6DUA45NL.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-7XIXG2RR.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-7XIXG2RR.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-B5LYCE6X.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-B5LYCE6X.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-FRTHU7EP.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-FRTHU7EP.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-GUGIMSVJ.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-GUGIMSVJ.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-HW4YAQVM.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-HW4YAQVM.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-I5BUAASN.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-I5BUAASN.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-LV5OJ54R.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/chunk-LV5OJ54R.js.map
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/package.json
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/rxjs_operators.js
FrontEnd/hplc-ui/.angular/cache/21.2.5/hplc-ui/vite/deps/rxjs_operators.js.map
Hplc.Controller.Api/.vs/Hplc.Controller.Api/CopilotIndices/17.14.1231.31060/CodeChunks.db
Hplc.Controller.Api/.vs/Hplc.Controller.Api/CopilotIndices/17.14.1231.31060/CodeChunks.db-shm
Hplc.Controller.Api/.vs/Hplc.Controller.Api/CopilotIndices/17.14.1231.31060/CodeChunks.db-wal
Hplc.Controller.Api/.vs/Hplc.Controller.Api/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
Hplc.Controller.Api/.vs/Hplc.Controller.Api/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-shm
Hplc.Controller.Api/.vs/Hplc.Controller.Api/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-wal
Hplc.Controller.Api/.vs/Hplc.Controller.Api/DesignTimeBuild/.dtbcache.v2
Hplc.Controller.Api/.vs/Hplc.Controller.Api/v17/.futdcache.v2
Hplc.Controller.Api/.vs/Hplc.Controller.Api/v17/.suo
Hplc.Controller.Api/.vs/Hplc.Controller.Api/v17/DocumentLayout.backup.json
Hplc.Controller.Api/.vs/Hplc.Controller.Api/v17/DocumentLayout.json
Hplc.Controller.Api/.vs/ProjectEvaluation/hplc.controller.api.metadata.v9.bin
Hplc.Controller.Api/.vs/ProjectEvaluation/hplc.controller.api.projects.v9.bin
Hplc.Controller.Api/.vs/ProjectEvaluation/hplc.controller.api.strings.v9.bin
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Data/Batches/Batch_Assay_Run.json
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Data/Batches/Batch_Impurity_Run.json
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Data/Batches/eee.json
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.exe
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.pdb
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/ApiEndpoints.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/apphost.exe
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/EndpointInfo/Hplc.Controller.Api.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.AssemblyInfo.cs
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.AssemblyInfoInputs.cache
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.csproj.CoreCompileInputs.cache
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.csproj.FileListAbsolute.txt
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.pdb
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/ref/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/refint/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/rpswa.dswa.cache.json
FrontEnd/hplc-ui/.angular/cache/21.2.7/hplc-ui/.tsbuildinfo
FrontEnd/hplc-ui/.angular/cache/21.2.7/hplc-ui/vite/deps/@angular_material_input.js
FrontEnd/hplc-ui/.angular/cache/21.2.7/hplc-ui/vite/deps/@angular_material_select.js
FrontEnd/hplc-ui/.angular/cache/21.2.7/hplc-ui/vite/deps/_metadata.json
*.js
*.csv
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/appsettings.json
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.exe
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.pdb
Hplc.Controller.Api/.vs/Hplc.Controller.Api/v17/DocumentLayout.backup.json
Hplc.Controller.Api/.vs/Hplc.Controller.Api/v17/DocumentLayout.json
Hplc.Controller.Api/Hplc.Controller.Api/appsettings.json
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/appsettings.json
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.exe
Hplc.Controller.Api/Hplc.Controller.Api/bin/Debug/net8.0/Hplc.Controller.Api.pdb
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/ApiEndpoints.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/apphost.exe
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/EndpointInfo/Hplc.Controller.Api.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.AssemblyInfo.cs
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.AssemblyInfoInputs.cache
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.csproj.CoreCompileInputs.cache
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.csproj.FileListAbsolute.txt
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/Hplc.Controller.Api.pdb
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/ref/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/refint/Hplc.Controller.Api.dll
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
Hplc.Controller.Api/Hplc.Controller.Api/obj/Debug/net8.0/rpswa.dswa.cache.json
